body {
  margin: 0;
  color: #ffffff;
  background: #000000 url(train.png) no-repeat;
  background-size: cover;
}
h1 {
  margin: 80px 0 0 80px;
  font: bold italic x-large "Times New Roman", Times, serif;
}
img {
  width: auto;
  height: auto;
  display: block;
  margin: 20px 0;
}
