body {
  margin: 0;
  color: #ffffff;
  background: #000000 url(train.png) no-repeat;
  background-size: cover;
}
h1 {
  margin: 80px 0 0 80px;
  font-family: "Impact", "Arial Black", sans-serif;
  font-size: 72px; 
  font-weight: bold; 
  color: #ffdd57;
  text-transform: uppercase;
  letter-spacing: 5px;

  text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px #ffdd57, 
    3px 3px 2px rgba(0,0,0,0.5);
}
img {
  width: auto;
  height: auto;
  display: block;
  margin: 15px 0;
  border: 5px solid hotpink;
}
a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: hotpink;
  text-decoration: none; 
}
.keyword {
  color: purple; 
  font-weight: bold; 
  text-decoration: underline;
}




