/*メニュー全体*/
ul.ddmenu {
  margin: 0px;
  padding: 0px 0px 0px 15px;
  background-color: #cc0000;
}

/*リストの横並び*/
ul.ddmenu li {
  width: 125px;
  display: inline-block;
  list-style-type: none;
  position: relative;
}

/*リストの項目ごとの指定 */
ul.ddmenu a {
  line-height: 40px;
  text-align: center;
  background-color: #cc0000;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

/*サブメニューの非表示*/
ul.ddmenu ul {
  display: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

/*サブメニュー*/
ul.ddmenu a:hover {
  background-color: #ffdddd;
  color: #dd0000;
}

ul.ddmenu li:hover ul {
  display: block;

}

/*背景*/
body {
  margin: 0;
  color: #ffffff;
  background: #000000 url(chiba.jpg) no-repeat;
  background-size: cover;
}

/*左揃え*/
.left-text {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

